aprilCameraCalibration {

    // MRE:   0.933 px MSE   1.345 px MaxRE   4.049 px

    names = [ camera0000 ];

    camera0000 {
        class = "april.camera.models.AngularPolynomialCalibration";

        width = 1280;
        height = 960;

        intrinsics {
            fc = [ 762.637760, 763.558919 ];
            cc = [ 657.462396, 495.776087 ];
            kc = [  -0.106265,   0.294466,  -0.583291,   0.489591,  -0.147707 ];
        }
        extrinsics {
            // Global-To-Camera coordinate transformation
            position = [   0.000000,   0.000000,   0.000000 ];
            rollpitchyaw_degrees = [   0.000000,  -0.000000,   0.000000 ];
        }
    }
}
