aprilCameraCalibration {

    // MRE:   0.945 px MSE   1.394 px MaxRE   4.209 px

    names = [ camera0000 ];

    camera0000 {
        class = "april.camera.models.AngularPolynomialCalibration";

        width = 1280;
        height = 960;

        intrinsics {
            fc = [ 759.050518, 759.828174 ];
            cc = [ 657.131365, 495.625174 ];
            kc = [  -0.042854,  -0.006873 ];
        }
        extrinsics {
            // Global-To-Camera coordinate transformation
            position = [   0.000000,   0.000000,   0.000000 ];
            rollpitchyaw_degrees = [   0.000000,  -0.000000,   0.000000 ];
        }
    }
}
