aprilCameraCalibration {

    // MRE:   0.958 px MSE   1.417 px MaxRE   4.295 px

    names = [ camera0000 ];

    camera0000 {
        class = "april.camera.models.CaltechCalibration";

        width = 1280;
        height = 960;

        intrinsics {
            fc = [ 754.706657, 754.920423 ];
            cc = [ 652.690458, 496.694571 ];
            kc = [  -0.339646,   0.137598,  -0.035448,   0.003882 ];
            lc = [  -0.000355,   0.000936 ];
            skew =   -0.000764;
        }
        extrinsics {
            // Global-To-Camera coordinate transformation
            position = [   0.000000,   0.000000,   0.000000 ];
            rollpitchyaw_degrees = [   0.000000,  -0.000000,   0.000000 ];
        }
    }
}
