aprilCameraCalibration {

    // MRE:   4.971 px MSE  36.094 px MaxRE  27.016 px

    names = [ camera0000 ];

    camera0000 {
        class = "april.camera.models.CaltechCalibration";

        width = 1280;
        height = 960;

        intrinsics {
            fc = [ 765.391305, 764.371213 ];
            cc = [ 620.745685, 475.986445 ];
            kc = [  -0.175341 ];
            lc = [   0.000370,   0.001016 ];
            skew =    0.002709;
        }
        extrinsics {
            // Global-To-Camera coordinate transformation
            position = [   0.000000,   0.000000,   0.000000 ];
            rollpitchyaw_degrees = [   0.000000,  -0.000000,   0.000000 ];
        }
    }
}
