aprilCameraCalibration {

    // MRE:   2.211 px MSE   6.647 px MaxRE   7.659 px

    names = [ camera0000 ];

    camera0000 {
        class = "april.camera.models.CaltechCalibration";

        width = 1280;
        height = 960;

        intrinsics {
            fc = [ 752.607441, 754.252322 ];
            cc = [ 639.455118, 479.021011 ];
            kc = [  -0.257976,   0.044618 ];
            lc = [   0.000894,   0.001946 ];
            skew =   -0.000741;
        }
        extrinsics {
            // Global-To-Camera coordinate transformation
            position = [   0.000000,   0.000000,   0.000000 ];
            rollpitchyaw_degrees = [   0.000000,  -0.000000,   0.000000 ];
        }
    }
}
