aprilCameraCalibration {

    // MRE:   1.147 px MSE   1.938 px MaxRE   4.906 px

    names = [ camera0000 ];

    camera0000 {
        class = "april.camera.models.CaltechCalibration";

        width = 1280;
        height = 960;

        intrinsics {
            fc = [ 752.507427, 752.825719 ];
            cc = [ 651.530141, 493.147517 ];
            kc = [  -0.311087,   0.094205,  -0.012473 ];
            lc = [  -0.000279,   0.000957 ];
            skew =   -0.001194;
        }
        extrinsics {
            // Global-To-Camera coordinate transformation
            position = [   0.000000,   0.000000,   0.000000 ];
            rollpitchyaw_degrees = [   0.000000,  -0.000000,   0.000000 ];
        }
    }
}
