aprilCameraCalibration {

    // MRE:   0.938 px MSE   1.356 px MaxRE   4.221 px

    names = [ camera0000 ];

    camera0000 {
        class = "april.camera.models.CaltechCalibration";

        width = 1280;
        height = 960;

        intrinsics {
            fc = [ 756.007094, 756.351795 ];
            cc = [ 652.420052, 497.427301 ];
            kc = [  -0.357660,   0.177893,  -0.069976,   0.016479,  -0.001636 ];
            lc = [  -0.000471,   0.000954 ];
            skew =   -0.000785;
        }
        extrinsics {
            // Global-To-Camera coordinate transformation
            position = [   0.000000,   0.000000,   0.000000 ];
            rollpitchyaw_degrees = [   0.000000,  -0.000000,   0.000000 ];
        }
    }
}
