aprilCameraCalibration {

    // MRE:  12.965 px MSE 239.698 px MaxRE  63.901 px

    names = [ camera0000 ];

    camera0000 {
        class = "april.camera.models.DistortionFreeCalibration";

        width = 1280;
        height = 960;

        intrinsics {
            fc = [ 784.944111, 752.366291 ];
            cc = [ 585.097121, 487.272313 ];
        }
        extrinsics {
            // Global-To-Camera coordinate transformation
            position = [   0.000000,   0.000000,   0.000000 ];
            rollpitchyaw_degrees = [   0.000000,  -0.000000,   0.000000 ];
        }
    }
}
