aprilCameraCalibration {

    // MRE:   0.964 px MSE   1.454 px MaxRE   4.383 px

    names = [ camera0000 ];

    camera0000 {
        class = "april.camera.models.RadialPolynomialCalibration";

        width = 1280;
        height = 960;

        intrinsics {
            fc = [ 756.642698, 757.280078 ];
            cc = [ 657.189699, 495.371214 ];
            kc = [  -0.340419,   0.137102,  -0.035188,   0.003843 ];
        }
        extrinsics {
            // Global-To-Camera coordinate transformation
            position = [   0.000000,   0.000000,   0.000000 ];
            rollpitchyaw_degrees = [   0.000000,  -0.000000,   0.000000 ];
        }
    }
}
