aprilCameraCalibration {

    // MRE:   0.947 px MSE   1.398 px MaxRE   4.290 px

    names = [ camera0000 ];

    camera0000 {
        class = "april.camera.models.RadialPolynomialCalibration";

        width = 1280;
        height = 960;

        intrinsics {
            fc = [ 757.815828, 758.596236 ];
            cc = [ 657.132577, 495.391540 ];
            kc = [  -0.357367,   0.175070,  -0.067672,   0.015668,  -0.001532 ];
        }
        extrinsics {
            // Global-To-Camera coordinate transformation
            position = [   0.000000,   0.000000,   0.000000 ];
            rollpitchyaw_degrees = [   0.000000,  -0.000000,   0.000000 ];
        }
    }
}
